/* GRID CONTAINER AREA */

.grid-container-areas{
    background-color: #8B4513;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "content content content"
        "footer footer footer";
    justify-items: center; 
}

/* GRID CONTAINER MENU */
.grid-container-menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    gap: 10px;
    margin: 10px 10px 20px 10px;
    align-items: center;
}

.grid-container-menu .menus img{
    width: 200px;
    height: 150px;
    margin-top: 15 px;
    border-radius: 10px;
}

.menus{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: auto;
    text-align: center;
}

/* GRID CONTAINER CHOICE */
.grid-container-choose{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    gap: 10px;
    margin: 10px 10px 20px 10px;
    align-items: center;
}

.chooses{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    text-align: center;
}

.chooses img{
    width: 500px;
    height: 300px;
    margin-top: 25  px;
    border-radius: 10px;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
}

body{
    background-color: #fffbf2;
    font-family: 'Courier New', Courier, monospace;
    line-height: 60px;
    text-align: center;
    color: black;
    align-items: center;
}

footer{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.nav-list {
    background-color: #8B4513;
    display: flex;
    justify-content: center;
    gap: 20px;    
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 10px 40px;
}

.nav-list a:hover {
    text-decoration: underline;
    color: red;
}

.logo{
    width: 100px;
    height: auto;

}

h1{
    font-size: 50px;
}

h2{
    font-size: 30 px;
    margin-top: 20 px;

}

q{
    font-size: 20px;
    font-style: italic;
    color: grey;
}
.btn-home{
    margin-top: 20px;
}

.btn-home input{
    background-color: #8B4513;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-home button{
    background-color: #8B4513;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* INDEX.HTML */

.home-header{
    margin-top: 50px;
}

/* menu.html */
.h2-menu{
    background-color: #8B4513;
    padding: 20px;
    margin: 50px 50px;
    font-size: 40px;
    color: white;
}

